@charset "UTF-8";
/* CSS Document */
body {
  overflow: auto;
  line-height: 1.6;
}

/*header*/
.header {
  position: relative;
  margin: auto;
  display: grid;
	grid-template-columns: 75% 25%;
  height: 80px;
  padding-bottom: 10px;
  padding-right: 3vh;
  max-width: 835px;
  background : white;
}

.btnCont {
  position: absolute;
  right: -1vw;
  bottom: 0vh;
  margin: 20px;
  }

.Btn {
  margin-top: 10px;
  margin-left: 3px;
  color:  black;
  font-size: 13px;
  font-family: "arial";
  text-align: center;
  cursor: pointer;
  }

  .hellp {
    width: 25px;
  	height: 25px;
  }

  .about {
    width: 55px;
  	height: 25px;
  }

 
.ppp {
  font-size: 13px;
  font-family: "arial";
  text-align: center;
  margin-top: 5px;
  }

.title {
  margin: 10;
  height: 15px;
  width: 300px;
 font-family: 'arial';
  font-size: 30px;
  color: black;
}

.title-secondary {
  margin: 10;
  height: 20px;
  width: 600px;
  font-family: "arial";
  font-size: 20px;
  color: black;
}

/* matrix */
.border {
  align-content: center;
  margin:0 auto;
	width: 94vw;
	height: 80vh;
	max-height: 900px;
	max-width: 830px;
  overflow: hidden;
}

.layout {
	width: 94vw;
	height: 80vh;
	max-height: 900px;
	max-width: 830px;
	display: grid;
	grid-template-columns: 100px 700px;
	margin-top: .5vh;
  	overflow: auto;

}





  /* pads */

.matrix {
  	position: inherit;
  	padding-top: 25px;
  	padding-left: 25px;
    width: 20vw;
    height:20vh;

  }

.container {
  width: 690px;
  height: 117px;
  display: flex;
  }

.item {
  background-size: 8.49px 8.49px;
  width: 100px;
  height: 100px;
  border: solid;
  border-color:  rgba(6, 71, 255, 1);
  border-width: 1px;
  background  rgba(211, 217, 226, 1);
  position: inherit;
  text-align: center;
  }

 .box:hover {
   background-image url('img/ELEMENTs/BG-thin.svg');
  }

.match {
    background :  rgba(6, 71, 255, 1);
    color: rgba(95, 237, 163, 1);
    cursor: pointer;
    transition: .2s;
  }

  .match:hover {
    background :  rgba(6, 71, 255, .9);
  }

/*.b-semi {
    background: rgba(6, 71, 255, .6);
    color: rgba(6, 71, 255, .9);
    cursor: pointer;
    transition: .2s;
    }

  .b-semi:hover {
    background   rgba(6, 71, 255, .5);
  }

  .semiplay {
    color rgba(6, 71, 255, 1);
      -webkit-text-stroke 1px rgba(6, 71, 255, 1);
  }

  .btnsemi {
    color rgba(6, 71, 255, 1);
  }
  */

.play {
    padding-top: 60px;
    text-align: left;
    width: 100px;
    height:75px;
    background : transparent;
    border-color: transparent;
    cursor: pointer;
    color: black;
    }



    .play:hover {
      background : transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    }

    .semiplay:hover {
      background : transparent;
      -webkit-text-stroke:2px rgba(6, 71, 255, 1)
    }

.myBtn {
      margin-bottom: 5px;
      text-align: left;
      height: 20px;
	width: 100px;
      background : transparent;
      border-color: transparent;
      border-style: Solid;
      border-width: 1px;
      color: black;
      font-family: arial;
      font-size: 12px;
      cursor: pointer;
    }


    .myBtn:hover {
    	text-decoration: underline;
      background : transparent;
    }


/*buttons focus*/
.play:focus,
.myBtn:focus {
    outline: 0 none;
    opacity: .6;
    }

/*modals*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    TOP: 50px;
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    transition: .2s;
    }

    .modal-content {
      position:relative;
      margin: 0 auto;
      margin-top: 60px;
      width: 94vw;
      height: 83vh;
      max-width: 800px;
      max-height: 620px;
      overflow: auto;
      align-content: center;
      border solid;
      border-width: 1px;
      border-color: rgba255, 255, 255, 1)
      border-radius: 20px;
      }

    /* The Close Button */
    .close {
      width: 20px;
      height: 20px;
      color: #ffffff;
      float: right;
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
      cursor: pointer;
    }
      .close:hover,
      .close:focus {
        text-decoration: none;
    		outline: 0 none;
        color:  rgba(6, 71, 255, 1);
    	 }

    .header-modal {
      height: 80px;
      display: grid;
      grid-template-columns: 90px 670px 30px;
    }

    .modal-title {
      padding-top: 10px;
      color: rgba(255, 255, 255, 1);
	font-family: 'Raleway', sans-serif;
      font-size: 17px;
    }

      .modal-icon {
        margin: auto;
        left: 0;
        width: 70px;
        height:70px;
        }
	.side {
          width: 40px;
          height: 40px;
          margin-top: 10px;
        }
	.modal-icon-prdct {
		padding-bottom: 150px;
}


