@charset "UTF-8";
/* CSS Document */
body {
  overflow: auto;
  line-height: 1.6;
}

/*header*/
.header {
  position: relative;
  margin: auto;
  display: grid;
	grid-template-columns: 75% 25%;
  height: 80px;
  padding-bottom: 10px;
  padding-right: 3vh;
  max-width: 835px;
  background : white;
}

.btnCont {
  position: absolute;
  right: -1vw;
  bottom: 0vh;
  margin: 20px;
  }

.Btn {
  margin-top: 10px;
  margin-left: 3px;
  background : rgba(255, 255, 255, 1);
  border: solid;
  border-color:  black;
  border-width: 1px;
  color:  rgba(6, 71, 255, 1);
  font-size: 13px;
  font-family: "arial";
  text-align: center;
  cursor: pointer;
  }


  }
  

  .instrc {
    width: 25px;
  	height: 25px;
  }

  .about {
    width: 55px;
  	height: 25px;
  }

 
.ppp {
  font-size: 13px;
  font-family: "arial";
  text-align: center;
  margin-top: 5px;
  }

.title {
  margin: 10;
  height: 15px;
  width: 300px;
 font-family: 'arial';
  font-weight: bold;
  font-size: 30px;
  color:  rgba(6, 71, 255, 1);
}

.title-secondary {
  margin: 10;
  height: 20px;
  width: 600px;
  font-family: "arial";
  font-weight: bold;
  font-size: 20px;
  color:  rgba(6, 71, 255, 1);
}

/* matrix */
.border {
  align-content: center;
  margin:0 auto;
	width: 94vw;
	height: 80vh;
	max-height: 900px;
	max-width: 830px;
  border: solid;
	border-color:  black;
	border-width: 1px;
  overflow: hidden;
}

.layout {
	width: 94vw;
	height: 80vh;
	max-height: 900px;
	max-width: 830px;
	display: grid;
	grid-template-columns: 100px 700px;
	margin-top: .5vh;
  	overflow: auto;

}

.side {
  width: 100px;
  height: 900px;
  position: sticky;
  left: px;
  z-index: 1;
  }

.sd-br-div {
  position: relative;
  margin: 0;
  left: 15px;
  width: 75px;
	height: 75px;
  margin-bottom: 42px;
	margin-left: 6px;
  border-radius: 100%;
	border-color:  rgba(6, 71, 255, 1);
  }

  .top {
    margin-top: 70px;
    }

  .bottom {
    margin-bottom: 0px;
  }

.sd-br-img {
  /*align*/
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*fin align*/
  width: 85px;
	height:85px;
  }


/* top */
.top-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 710px;
  height: 20px;
  display: grid;
  background: rgba(255, 255, 255, 1);
  border: solid 1px #ffffff;
  }

  .stick-border {
    margin-left: 24px;
    width: 677px;
    height: 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color:  rgba(6, 71, 255, 1);
    background: rgba(255, 255, 255, 1);
  }

.txt-box {
    display: grid;
  	padding-left: 25px;
  	width: 690px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
  }

.p {
  font-size: 11px;
  font-family: 'arial';
font-weight: bold;
  color:  rgba(6, 71, 255, 1);
  text-align: center;
  margin-top: 3px;
  width: 100px;
  }

  /* pads */

.matrix {
  	position: inherit;
  	padding-top: 25px;
  	padding-left: 25px;
    width: 20vw;
    height:20vh;

  }

.div {
  width: 690px;
  height: 117px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

.box {
  background-size: 8.49px 8.49px;
  width: 100px;
  height: 100px;
  border: solid;
  border-color:  rgba(6, 71, 255, 1);
  border-width: 1px;
  border-radius: 5px;
  background  rgba(211, 217, 226, 1);
  position: inherit;
  text-align: center;
  }

 .box:hover {
   background-image url('img/ELEMENTs/BG-thin.svg');
  }

.match {
    background :  rgba(6, 71, 255, 1);
    color: rgba(95, 237, 163, 1);
    cursor: pointer;
    transition: .2s;
  }

  .match:hover {
    background :  rgba(6, 71, 255, .9);
  }

/*.b-semi {
    background: rgba(6, 71, 255, .6);
    color: rgba(6, 71, 255, .9);
    cursor: pointer;
    transition: .2s;
    }

  .b-semi:hover {
    background   rgba(6, 71, 255, .5);
  }

  .semiplay {
    color rgba(6, 71, 255, 1);
      -webkit-text-stroke 1px rgba(6, 71, 255, 1);
  }

  .btnsemi {
    color rgba(6, 71, 255, 1);
  }
  */

.play {
    padding-top: 60px;
    text-align: left;
    width: 100px;
    height:75px;
    background : transparent;
    border-color: transparent;
    cursor: pointer;
    color: rgba(255,255,255, 1);
    }



    .play:hover {
      background : transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    }

    .semiplay:hover {
      background : transparent;
      -webkit-text-stroke:2px rgba(6, 71, 255, 1)
    }
.myBtn {
      margin-bottom: 5px;
      text-align: left;
      height: 20px;
			width: 100px;
      background : transparent;
      border-color: transparent;
      border-radius: 3px;
      border-style: Solid;
      border-width: 1px;
      color: rgba(255, 255, 255, 1);
      font-family: arial;
      font-size: 12px;
      cursor: pointer;
    }


    .myBtn:hover {
    	text-decoration: underline;
      background : transparent;
    }


/*buttons focus*/
.play:focus,
.myBtn:focus {
    outline: 0 none;
    opacity: .6;
    }

/*modals*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    TOP: 50px;
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    transition: .2s;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(0, 41, 227, 1) 35.57%,rgba(0, 57, 245, 0.9) 77.31%,rgba(0, 112, 245, 0.83) 89.92%,rgba(246, 250, 250, 0) 100%);
    background : -webkit-linear-gradient(90deg, rgba(0, 41, 227, 1) 35.57%, rgba(0, 57, 245, 0.9) 77.31%, rgba(0, 112, 245, 0.83) 89.92%, rgba(246, 250, 250, 0) 100%);
    }

    .modal-content {
      position:relative;
      margin: 0 auto;
      margin-top: 60px;
      width: 94vw;
      height: 83vh;
      max-width: 800px;
      max-height: 620px;
      overflow: auto;
      align-content: center;
      border solid;
      border-width: 1px;
      border-color: rgba255, 255, 255, 1)
      border-radius: 20px;
      }

    /* The Close Button */
    .close {
      width: 20px;
      height: 20px;
      color: #ffffff;
      float: right;
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
      cursor: pointer;
    }
      .close:hover,
      .close:focus {
        text-decoration: none;
    		outline: 0 none;
        color:  rgba(6, 71, 255, 1);
    	 }

    .header-modal {
      height: 80px;
      display: grid;
      grid-template-columns: 90px 670px 30px;
    }

    .modal-title {
      padding-top: 10px;
      color: rgba(255, 255, 255, 1);
	font-family: 'Raleway', sans-serif;
      font-size: 17px;
    }

      .modal-icon {
        margin: auto;
        left: 0;
        width: 70px;
        height:70px;
        }
	.side {
          width: 40px;
          height: 40px;
          margin-top: 10px;
        }
	.modal-icon-prdct {
		padding-bottom: 150px;
}


    .mid-modal {
      position: relative;
      display: grid;
    	grid-template-columns: 40% 60%;
      grid-column-gap: 13px;
      color: rgba(255, 255, 255, 1);
      font-family: arial;
      font-size: 13px;
    }

      .explain-box {
        display: grid;
        grid-template-columns: 50px 270px;
        width: 320px;
        padding-bottom: 30px;
        }

        .sound-s {
          height: 110px;
        }
        .sound-L {
          height: 135px;
        }
        .intr {
          height: 55px;
        }

      a {
        color: rgba(255, 255, 255, 1);
        text-decoration: underline;
        font-family;
        }



      .end-modal {
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 700px;
        border: solid 1px rgba(255, 255, 255, 1);
        border-radius: 20px;
        padding-left: 70px;
        color: rgba(255, 255, 255, 1);
        font-family: arial;
        font-size: 13px;
        text-align: left;
      }



/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-left: solid;
    border-top: solid;
    border-width: 1px;
    border-color:  rgba(6, 71, 255, 1);
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    z-index: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .1);
}
::-webkit-scrollbar-corner       {
  background: rgba(255, 255, 255, .1);

}
::-webkit-scrollbar-track:hover {
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background:  rgba(6, 71, 255, 1);
}

    /*slideshow*/
.slides-contain {
  width: 400px;
  display: grid;
  grid-template-columns: 50px 350px;
}


.modal-img {
    height: 220px;
    width: 400px;
    background-size: cover;
}

  .pill {
   background-image: url('img/slideshow/pillbox.png');
   background-repeat: no-repeat;

 }
   .pill:hover {
     background-image: url('img/slideshow/PILLBOX.png');
     background-repeat: no-repeat;
   }
 .wash {
   background-image: url('img/slideshow/wash.png');
   background-repeat: no-repeat;
   }
   .n-2:hover {
     background-image: url('img/slideshow/wash.png');
     background-repeat: no-repeat;
     }
 .n-3 {
   background-image: url('img/slideshow/remote.jpg');
   background-repeat: no-repeat;
     }
     .n-3:hover {
       background-image: url('img/slideshow/remote.jpg');
       background-repeat: no-repeat;
       }
   .plant {
         background-image: url('img/slideshow/plant.png');
         background-repeat: no-repeat;
       }
       .plant:hover {
           background-image: url('img/slideshow/plant.png');
           background-repeat: no-repeat;
         }
